body, html {
  height: 100%;
  margin: 0;
  background-image: url("img/bg.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.principal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.box {
  width: 400px;
  height: 400px;
  background: rgba(148, 144, 144, 0.726);
}

.cabecalho {
  margin-top: 1px;
  text-align: center;
}

.corpo {
  text-align: center;
}


.link {

  background-color: transparent; 
  text-decoration: none;
  text-align: center;
}